@media only screen and (max-width: 767px){
    .banner .bx-wrapper {
        border: 0;
        margin-bottom: 0;
        height: 250px;
    }
    .banner ul li .slide1 {
        height: 250px;
    }
}
@media only screen and (max-width: 500px){
    .adi_headerRht{
        width:220px;
        padding-left:20px;
    }
}
.adi_question_style .questions.quiz_box .content {
    padding: 38px 10px 20px;
}

.category .cat_box .cat_img img {
    width: 218px;
    height: 142px !important;
}
.headerTop .logo {
    float: left;
    padding-top: 0px;
}
.category .cat_box .cat_img {
    width: 218px;
    height: 142px;
}

.category .cat_box:hover {
    transform: translateY(-20px);
}

.category .cat_box {
   
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
#nav li a {
    text-transform: uppercase;
}
.slide1{height: 500px;background:#aaaaaa url('../images/slider.jpg') no-repeat top center;background-size: cover;}
/* .quiz_box .quiz_form .options label{color: #717679;font-size: 14px;line-height: 21px;padding-left: 35px; word-break: break-all;} */
/* .quiz_box .quiz_form .options input[type=radio]:not(old) + label{display:inline-block;vertical-align: middle; background:url('../images/rad_unchk.png') no-repeat left center;text-align: left; width: auto;line-height: 23px} */

/*home page search button*/
.searchBox .button {
    width: 33px;
}
.searchBox {
    float: right;
    background: #353b4d;
    width: 236px;
    height: 50px;
}
.subsmodallogo{
    width:110px !important;
    height:auto;
}
.quiz_box .correct_box {

    z-index: 0;
}
.quiz_box .incorrect_box {
    
        z-index: 0;
    }
 .quiz_box .sub_title {
       min-height: 100px;
    }
quiz_box .bot_text {
        margin: 28px 0 45px;
        min-height: 100px;
}

.guest_quiz_box .bot_text {
        margin: 45px 0 45px;
}
.guest_quiz_box .sub_title {
    padding: 0 10px 4px;
}
.guest_quiz_box .c_title{
    color:#00B13F;
    cursor:pointer;
    width:55px;
    margin: 0 auto;
}
.guest_quiz_box .c_title:hover{
    color:rgb(31, 219, 91);
 
}
.signupform-wrapper{
    background: url(../images/signupbg.jpg) no-repeat top center;
}
.signupform-wrapper{
    background: url(../images/signupbg.jpg) no-repeat top center;
}
@media only screen and (max-width: 767px){
.signup-fieldset .bginput_email, .signup-fieldset .bginput_password {
    width: 100%;
}
#modalSubsEmail-error {
    position: absolute;
    padding:  0px 0px !important;
}
}
@media only screen and (max-width: 500px){
.adi_headerRht {
    
    padding-top: 10px;
}
}
@media only screen and (max-width: 425px){
.signup-step .numtwo {
    margin-top: 8px;
}
}
.signup-body .sweep-wrapper{
    background: url("../images/sweepbg.jpg") no-repeat top center;
    background-size: cover;
}
.error{
color:red;
}
.signInWrap .signCont .inputBox {
    margin-bottom: 0px;
}
.signInWrap .signCont .signInInputPadding{
    margin-bottom: 20px;
}
.subscribeWrap .subspp{
    margin-top:25px;
}
#modalSubsEmail-error{
    position: absolute;
    padding: 5px 0px;
}
.subsciber_box .email input {
    margin-bottom:0px;
}
.subsciber_box .subscribe input {
    margin-top:25px;
}
/* #subs_modal_wrapper .inputBox{
    -webkit-appearance: none;
} */
#menu_overlay {background: #000 none repeat scroll 0 0;  height: 100%; left: 0; opacity: 0.5; position: fixed; top: 0; width: 100%; 
    z-index: 100;}
    .menu_overlay {display: none;}
    .mobNav{
        z-index: 101  }

        @media only screen and (max-width: 850px){
        #nav-toggle {
            display: block;
            cursor: pointer;
            z-index: 102;
        }
       
    }
    
    #subs_bot_submit{
        -webkit-appearance: none;
    }